*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@import '../secciones/footer';
@import "../secciones/header";
@import "../secciones/aside";
@import "../secciones/registro";
@import "../secciones/productos";